<% provide(:title, "About") %>
<div class = "container">
<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <h1 class = "text-center">About</h1>
    <hr />
    <p>The JB SET, or Junior Branch Self Evaluation Tool,  was created in 2013 and replaced the JB Equalizer as the
      international, standard evaluation.  Over the last several years, the JB SET has evolved to reflect the ever
      changing needs and goals of International Junior Branch.  The SET is comprised of two surveys: the National SET and
      the Local SET.  Both include questions about the composition and activity in our national associations and local
      chapters.   The SET is designed to provide annual insights into the performance of our organization as a whole, as
      well as encourage introspection and reflection on the local and national level. </p>


    <h1 class = "text-center">Instructions</h1>
    <hr />
    <p>The SET is designed to be a collaborative effort.  While it is the responsibility of Local and National Junior
      Representatives, the SET best serves its purpose when completed during a board meeting as part of a comprehensive
      annual review.</p>

    <p>In order to fill out the SET, simply create an account—consider making an account for your local board or national
      association so that others will have access to your answers—navigate to your profile, and select either the National
      or Local SET (or both).  Once you submit your answers you will be able to change them, so if you don’t know an
      answer while you’re filling it out, you can always go back and fill more of it out! <strong>Note: </strong> Even
      if you don't fully complete a survey, your answers will still be included in statistics.</p>

    <p>If you have any problems, please send an email to daniel.krajnak at us.cisv.org</p>

    <h1 class = "text-center">HELLLP!</h1>
    <hr />

    <h4>I filled out the National SET, but my country isn't showing up on the map.</h4>
    <p>Make sure that you have fully completed the survey.  In order to be shown on the front page, no answers
    can be left blank. </p>

    <h4>Someone else filled out the survey for my country.</h4>
    <p> Uh oh!  Email daniel.krajnak at us.cisv.org.  We will get things cleared up!
    </p>

    <h4>I'm interested in computer stuff, and I just want to know how this was made.</h4>
    <p>That's awesome!  This is a Ruby on Rails web app.  The home page graphs were created using d3.js.  Have specific
      questions or want to learn more?  Email daniel.krajnak at us.cisv.org.
    </p>


    </div>
</div>
</div>

<style>
  .navbar-default {
      background-color: white;
      border-color: rgba(34, 34, 34, 0.05);
  }
  h1{
    margin-top: 30px;
  }
  hr{
    margin: 12px auto;
  }
</style>