<% provide(:title, "About") %>
<div class="row">
  <div class="col-md-12">
    <h1>About Us</h1>
    <hr />
	<p>CISV International is a global organization dedicated to educating and inspiring for peace through building inter-cultural friendship, cooperation and understanding. Founded in 1950, today we are a federation of 69 Member Associations with over 200 Chapters or local groups. In over 60 years we have given countless children and young people the experience of their lives and the opportunity to build lasting friendships through our international educational programmes.</p>
	<hr />
	<p>Our innovative, fun, non-formal peace education 'learning by doing' programmes begin with our original and unique Village programme for 11-year-olds. We offer an exciting blend of seven international camp-based, family exchange and local community programmes. We aim to help our participants develop the skills they need to become informed, responsible and active global citizens and make a difference in their communities and the world. The glue that underpins all of our programmes is friendship, in line with our founding belief that peace is possible through friendship and mutual understanding.</p>
	<hr />
	<p>Our mission is to educate and inspire action for a more just and peaceful world.</p>
	<hr />
	<p>Our values:</p>
	<ul>
		<li>Friendship</li>
		<li>Inclusiveness</li>
		<li>Enthusiasm</li>
		<li>Engagement</li>
		<li>Cooperation</li>
	</ul>

  </div>
</div>