<% provide(:title, "About") %>
<div class = "container">
<div class="row">
  <div class="col-md-12">
    <h1>About the SET</h1>
    <hr />
	<p>TThe JB SET, or Junior Branch Self Evaluation Tool,  was created in 2013 and replaced the JB Equalizer as the international, standard evaluation.  Over the last several years, the JB SET has evolved to reflect the ever changing needs and goals of International Junior Branch.  The SET is comprised of two surveys: the National SET and the Local SET.  Both include questions about the composition and activity in our national associations and local chapters.   The SET is designed to provide annual insights into the performance of our organization as a whole, as well as encourage introspection and reflection on the local and national level. </p>

	<p>The SET is designed to be a collaborative effort.  While it is the responsibility of Local and National Junior Representatives, the SET best serves its purpose when completed during a board meeting as part of a comprehensive annual review.</p>
	
	<p>In order to fill out the SET, simply create an account—consider making an account for your local board or national association so that others will have access to your answers—navigate to your profile, and select either the National or Local SET (or both).  Once you submit your answers you will be able to change them, so if you don’t know an answer while you’re filling it out, you can always go back and fill more of it out!</p>

	<p>If you have any problems, please send an email to the JB SET team at email@email.com</p>
	<hr />
	<p><strong>The 2017 JB SET was developed in collaboration between: </strong><br/>
	Kellen Anker, Daniel Krajnak, Nick Pouliquen, and Nabil Wadih</p>
  </div>
</div>
</div>

<style>
.navbar-default {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.05);
  }
  
</style>