<% provide(:title, "Home") %>
  <div class = "index">
  <header>

    
        <div class="header-content">
            <div class="header-content-inner">
                 <% if current_user.nil? %>
                <h1 id="homeHeading">Welcome to the JB SET</h1>
                <% else %>
                <h1 id="homeHeading"> Welcome, <%= current_user.first_name %> </h1>
                <% end %>
                <hr>
                <p>
                  <% if current_user.nil? %>
                  <%= link_to "Log in", login_path %> or <%= link_to "sign up", signup_path %>
                  <% else %>
                  Please visit <%= link_to "your profile", user_path(current_user.username) %>
                  <% end %>
                  to take the SET. 
                  </p>
                <a href="#front-map" class="btn btn-primary btn-xl page-scroll">Who's Filled it Out?</a>
            </div>
        </div>
    </header>

<section class = "container-fluid bg-dark" style = "padding-top: 10px">

  <canvas id="front-map" style = "width: 100%"></canvas>
  <div class = "row col-md-12">
 
      <div class="jumbotron">
      <p>Here's where the first graph will go </p>
    </div>
    <div class="jumbotron">
      <p>Here's where the second graph, or first table, will go</p>
    </div>
  </div>
</section>
</div>

<style>
body, html{height: 100%;}
</style>



