<div class="row">
  <div class="col-md-12">
    <h1>CISV</h1>
    <hr />
    <p>A Web App for CISV users and tracking information</p>
    <br>
    <%= button_to "Sign Up", signup_path, method: :get, class: "btn btn-primary form-margin-bottom" %>
  </div>
</div>
