<% provide(:title, "Home") %>
<div class="row">
  <div class="col-md-12">
    <h1>CISV</h1>
    <hr />
    <p>Welcome to the CISV web app. Please <%= link_to "log in", login_path %> or <%= link_to "sign up", signup_path %> to take our surveys! Or, check out the data below, which we've gathered from previously completed surveys!</p>
    <div class="jumbotron">
      Here's where the first graph is gonna go
    </div>
    <div class="jumbotron">
      Here's where the second graph, or first table, will go
    </div>
  </div>
</div>
