// Place all the styles related to the front_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "creative";
@import "variables";

/* Custom page CSS */

body>.container {
	padding: 70px 15px 60px;
}

.container .text-muted {
	margin: 20px 0;
}

.footer>.container {
	padding-right: 15px;
	padding-left: 15px;
}

code {
	font-size: 80%;
}

.row-bottom {
	position: relative;
}

.bottom-align {
	position: absolute;
	bottom: 0;
	right: 0;
}

.footer-text {
	padding: 0px;
}

.field_with_errors {
	display: inline;
	@extend .has-error;
}


/*No Padding or Margins*/

.no-padding {
	padding: 0;
}

.no-margins {
	margin: 0;
}


/* Graph styles */

#general-graph-number {
	.AJB {
		fill: $cisv-orange;
	}
	.EJB {
		fill: $cisv-pink;
	}
	.APJB {
		fill: $cisv-green;
	}
	text {
		fill: white;
		font: 10px sans-serif;
		text-anchor: middle;
	}
	y-axis {
		color: white;
	}
}

#general-graph-multiple-choice {
	text {
		fill: white;
		@include sans-serif-font();
		font-weight: 300;
		text-anchor: middle;
	}
	.pie-info {
		font-size: 1em;
		font-weight: bold;
	}
}

.general-graph {
	display: none;
}

option {
	color: $cisv-orange !important;
	text-align: center !important;
}

.axis text {
	@include sans-serif-font();
	font-size: 10px;
}

.x-axis path,
.x-axis line {
	fill: none;
}

.y-axis path,
.y-axis line {
	fill: none;
	stroke: #FFF;
	shape-rendering: crispEdges;
}


/* Graph Animations */

@-webkit-keyframes fadeIn {
	from {
		-webkit-transform: perspective(400) scaleZ(.1) rotate3d(1, 0, 0, -20deg);
		transform: perspective(400) scale3d(.8, .8, .8) rotate3d(1, 0, 0, -20deg);
		opacity: 0;
	}
	to {
		-webkit-transform: perspective(400px);
		transform: perspective(400px);
	}
}

@keyframes fadeIn {
	from {
		-webkit-transform: perspective(400) scaleZ(.1) rotate3d(1, 0, 0, -20deg);
		transform: perspective(400) scale3d(.8, .8, .8) rotate3d(1, 0, 0, -20deg);
		opacity: 0;
	}
	to {
		-webkit-transform: perspective(400px);
		transform: perspective(400px);
	}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	animation-timing-function: ease;
	-webkit-animation-duration: .7s;
	animation-duration: .7s;
}

@-webkit-keyframes fadeOut {
	from {
		-webkit-transform: perspective(400px);
		transform: perspective(400px);
	}
	to {
		-webkit-transform: perspective(400) scaleZ(.1) rotate3d(1, 0, 0, -20deg);
		transform: perspective(400) scale3d(.8, .8, .8) rotate3d(1, 0, 0, -20deg);
		opacity: 0;
	}
}

@keyframes fadeOut {
	from {
		-webkit-transform: perspective(400px);
		transform: perspective(400px);
	}
	to {
		-webkit-transform: perspective(400) scaleZ(.1) rotate3d(1, 0, 0, -20deg);
		transform: perspective(400) scale3d(.8, .8, .8) rotate3d(1, 0, 0, -20deg);
		opacity: 0;
	}
}

.fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
	animation-timing-function: ease-out;
	-webkit-animation-duration: .7s;
	animation-duration: .7s;
}
