// Place all the styles related to the survey_completions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.question {
	margin-bottom: 30px;
}

.question .question-header {
	margin-top: 45px;
	margin-bottom: 10px;
}

.required-text {
	color: $cisv-orange;
	font-weight: 200;
	font-size: 12px;
}
