<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 footer-text">
        <p class="text-muted text-left">&copy; <%= Date.today.year %> CISV App &middot; <%= link_to "Back to top", "#" %></span></p>
      </div>
    </div>
  </div>
</footer>